<div class="bs-callout bs-callout-warning bg-warning">
  <h4>Be Careful!</h4>

  <p>The Twitter Stream will remain open for fixed period of time as specified by the lifespan entered below. Given the amount of data that will be consumed, take care to ensure that your server configuration can handle the load.</p>

  <p>For more information see <a href="https://dev.twitter.com/streaming/overview/request-parameters#track">Twitter Developer Documentation</a></p>
</div>


<form name="configForm" ng-controller="ConfigController as configCtrl" ng-submit="configForm.$valid && captureTweets(config)" novalidate>

  <div class="form-group">
    <label for="duration" class="control-label">Twitter Stream Lifespan</label>
    <input type="number" min="1" required class="form-control" id="duration" ng-model="config.duration" placeholder="Lifespan of Twitter Stream in minutes ">
  </div>

  <div class="form-group">
    <label for="users" class="control-label">Users to Follow</label>
    <input type="text" min="1" class="form-control" id="users"  ng-model="config.users" placeholder="Comma separated list of Twitter User ID's">
    <span class="help-block">See <a href="http://tweeterid.com/" target="_blank">TweeterID</a> to convert Twitter handles to User ID's</span>
  </div>

  <div class="form-group">
    <label for="phrases" class="control-label">Phrases to Track</label>
    <input type="text" min="1" class="form-control" id="phrases"  ng-model="config.phrases" placeholder="Comma separated list of phrases to track">
    <span class="help-block"></span>
  </div>

  <div class="form-group">
    <label for="locations" class="control-label">Locations to Monitor</label>
    <input type="text" min="1" class="form-control" id="locations" ng-model="config.locations" placeholder="A comma-separated list of longitude, latitude pairs specifying a set of bounding boxes">
    <span class="help-block">See <a href="https://dev.twitter.com/streaming/overview/request-parameters#locations" target="_blank">Location</a> parameter documentation</span>
  </div>

  <hr/>

  <button type="submit" class="btn btn-primary">Capture Twitter Data</button>

</form>
