<div class="bs-callout bs-callout-warning bg-warning">
  <h4>Be Careful!</h4>

  <p>The Twitter Stream will remain open until you manually stop it. Given the amount of data that will be consumed, take care to ensure that your server configuration can handle the load.</p>

  <p>For more information see <a href="https://dev.twitter.com/streaming/overview/request-parameters#track">Twitter Developer Documentation</a></p>
</div>


<form name="configForm" ng-controller="ConfigController as configCtrl" novalidate>
  <div class="alert alert-info" role="alert" ng-show="ingestStatus.running"><strong>Heads Up!</strong>  Twitter Ingest is has been running since {{ingestStatus.started | date:'medium'}}</div>

  <div class="form-group">
    <label for="users" class="control-label">Users to Follow</label>
    <input type="text" min="1" class="form-control" id="users"  ng-model="config.users" placeholder="Comma separated list of Twitter User ID's">
    <span class="help-block">See <a href="http://tweeterid.com/" target="_blank">TweeterID</a> to convert Twitter handles to User ID's</span>
  </div>

  <div class="form-group">
    <label for="phrases" class="control-label">Phrases to Track</label>
    <input type="text" min="1" class="form-control" id="phrases"  ng-model="config.phrases" placeholder="Comma separated list of phrases to track">
    <span class="help-block"></span>
  </div>

  <div class="form-group">
    <label for="locations" class="control-label">Locations to Monitor</label>
    <input type="text" min="1" class="form-control" id="locations" ng-model="config.locations" placeholder="A comma-separated list of longitude, latitude pairs specifying a set of bounding boxes">
    <span class="help-block">See <a href="https://dev.twitter.com/streaming/overview/request-parameters#locations" target="_blank">Location</a> parameter documentation</span>
  </div>

  <hr/>

  <button type="button" class="btn btn-default btn-lg" ng-click="startIngest()"ng-disabled="ingestStatus.running">
    <span class="glyphicon glyphicon-play"></span> Start
  </button>

  &nbsp;

  <button type="button" class="btn btn-danger btn-lg" ng-click="stopIngest()" ng-disabled="!ingestStatus.running">
    <span class="glyphicon glyphicon-stop"></span> Stop
  </button>

</form>
